{% extends 'base.html' %}

    {% block title %}{% endblock %}

{% block content %}
<h3>Личный кабинет соискателя {{ applicant_name }}</h3>
{#Модальное окно#}
{% include 'applicants/includes/modal_change.html' %}


<section class="applicant-info" style="margin-top: 20px;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-2">
                {% if applicant_avatar %}
                    <img src="{{ applicant_avatar.url }}" class="img-fluid" alt="{{ applicant_name }}">
                {% else %}
                    <img src="/uploads/user_pic/no_image.jpeg" class="img-fluid" alt="{{ applicant_name }}">
                {% endif %}
            </div>
            <div class="col-4">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Имя</th>
                        <td>{{ applicant_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ applicant_email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон</th>
                        <td colspan="">{{ applicant_phone }}</td>
                    </tr>
                    {% if applicant_id == user.id %}
                    <tr>
                        <td colspan="1">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Редактировать
                            </button>
                        </td>
                        <td colspan="2">
                            <a href="{% url 'resume_create' %}" class="btn btn-primary">
                                Создать резюме
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="resume-list" style="margin-top: 50px">
    <div class="container">
        <div class="row">
            {% if resume_list %}
                {% for resume in resume_list %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ resume.position }}</h5>
                                <p class="card-text">{{ resume.full_name }}</p>
                                <p class="card-text">Желаемая зарплата: {{ resume.salary }}</p>
                                <a href="{% url 'resume_detail' resume.pk %}" class="btn btn-primary">Подробнее</a>
                                {% if applicant_id == user.id %}
                                <a href="{% url 'resume_update' resume.pk %}" class="btn btn-primary"
                                   style="margin-top: 20px">Редактировать</a>
                                <a href="{% url 'resume_update_data' resume.pk %}" class="btn btn-primary"
                                   style="margin-top: 20px">Обновить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5>У вас еще нет резюме</h5>
            {% endif %}
        </div>
        {% if is_paginated %}
            {% include 'applicants/includes/pagination.html' %}
        {% endif %}
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
{% endblock %}
