{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Resume detail{% endblock %}
{% block content %}

<p> <b> Полное имя: </b> {{ resume.full_name }}</p>
<p> <b> Предполагаемая должность: </b> {{ resume.position }}</p>
<p> <b> Ожидаемая зарплата: </b> {{ resume.salary }}</p>
<p> <b> О себе: </b> {{ resume.about }}</p>
<p> <b> Telegram: </b> {{ resume.telegram }}</p>
<p> <b> Facebook: </b> {{ resume.facebook }}</p>
<p> <b> Linkedin: </b> {{ resume.linkedin }}</p>
<p> <b> Дата создания: </b> {{ resume.created_at }}</p>


{% if user.id == resume.applicant.id %}
<a href="{% url 'resume_delete' resume.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'resume_update' resume.pk %}" class="btn btn-primary">Редактировать</a>
{% endif %}
{% endblock %}